body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    height: 100vh;
    background-image: url("/images/BackgroundIMG2.jpeg");
    }

.hero{
      font-size: 100px;
      font-weight: 400;
      font-family: 'Playfair Display', serif;
      text-align: center;
      width: 100%;
      padding: 60px 0 30px;
      letter-spacing: 2px;
      color: #881c28;
      padding-top: 75px;
      font-style: italic;
      }
      

section {
  margin-bottom: 60px;
}


.introduction {
  text-align: center;
  padding: 20px 40px;
  color: #5c2a3c;
  font-family: 'Georgia', serif;
  font-size: 30px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: auto;
}

.content-section {
  background-color: #f9f4f5;
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
}


.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #5c2a3c;
  margin-bottom: 30px;
  font-family: 'Georgia', serif;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.about-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid #333;
  border-radius: 10px;
}


.about-image img:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  color: #333;
  font-family: 'Georgia', serif;
  line-height: 1.6;
}
