body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    height: 100vh;
    }

.hero{ content: "Bahle's Biblioteca";
    font-family: var(--header-font);
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 60px 0 30px;
    letter-spacing: 2px;
    }
      