h1{ 
    color: rgb(216, 58, 113);
}

body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: url(images/Jackies\ Journal.jpeg); 
background-size: cover;
height: 100vh;
}

nav{ 
 background-color:#8b1411 ;
 backdrop-filter: transparent (7px) ;
 height: 100px;
 width: 100%;
}


    

