h1{ 
    color: rgb(216, 58, 113);
}

p{ color: blue;
   font: 18px ;
}

.list{ list-style: square;
    color: orange;}

 
.menulinks {
list-style-type: none;
text-decoration: none;
background-color: rgb(185, 171, 171);
color: maroon;
font-size: large;
font-weight: bold;
border-width: 0cm;
border-radius: 0.5cm;
}

    

