h1{ 
    color: rgb(216, 58, 113);
}

body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: url(images/Jackies\ Journal.jpeg); 
background-size: cover;
height: 100vh;
}

nav{ 
 background-color:none;
 height: 100px;
 width: 100%;
}

nav ul{
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #881c28;
}

nav ul li{
display: inline-block;
font-size: 30px;
margin: 60px;
}

.menu .menulinks a{
color: #881c28 ;
text-decoration: none;
}

.hover-oval{ display: inline-block;
padding: 8px 16px;
text-decoration: none;
color:none;
transition: all 0.3s ease;
}

.hover-oval:hover {
background-color: #dd979f;
border: 2px solid #dd979f;
border-radius: 999px;
}



    

